<h1><%= @sport_event.event.name %> in <%= @sport_event.sport.name %></h1>

<div>
  <strong>Sport</strong>:<br />
  <p><%= @sport_event.sport.name %></p>
</div>
<div>
  <strong>Event</strong>:<br />
  <p><%= @sport_event.event.name %></p>
</div>
<div>
  <strong>Arena</strong>:<br />
  <p><%= @sport_event.arena %></p>
</div>

<button><a href="/sport_events/<%= @sport_event.id %>/edit">Edit</a> &nbsp</button>
<button><a href="/sport_events/<%= @sport_event.id %>/destroy">Destroy</a></button>
