<h1><%= @sport.name %> in the Olympics</h1>

<div>
  <strong>Name</strong>:<br />
  <p><%= @sport.name %></p>
</div>
<div>
  <strong>Description</strong>:<br />
  <p><%= @sport.description %></p>
</div>
<div>
  <strong>Equipment</strong>:<br />
  <p><%= @sport.equipment %></p>
</div>
<div>Sport's Events</div>
  <ul>
    <% @sport.sport_events.each do |sport_event| %>
    <li><%= sport_event.event.name %></li>
  <% end %>
  </ul>
<button><a href="/sports/<%= @sport.id %>/edit">Edit</a>&nbsp</button>
<button><a href="/sports/<%= @sport.id %>/destroy">Destroy</a></button>