<h1>Editing Athlete in Event #<%= @event_athlete.id %></h1>

<form action="/event_athletes/<%= @event_athlete.id %>/update">
  <div>
    <label for="event_id">Event</label><br />
    <select name = "event_id">
      <% @events.each do |event| %>
      <option value = "<%= event.id %>"><%= event.name %></option>
      <% end %>
    </select>
  </div>
  <div>
    <label for="athlete_id">Athlete</label><br />
    <select name = "name">
      <% @athletes.each do |athlete| %>
       <option value = "<%= athlete.id %>"><%= athlete.name %></option>
      <% end %>
    </select>
  </div>
  <div>
    <label for="gender">Gender</label><br />
    <input type="radio" name="gender" value="male">Male<br>
    <input type="radio" name="gender" value="female">Female
  </div>
  <br>
  <div>
    <input type="submit">
  </div>
</form>


